<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>The World Bank - Health Statistics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{css/styles.css}">

</head>
<body class="landing">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <main role="main" class="inner cover text-center main-container">
        <h1 class="cover-heading">The World Bank</h1>
        <p class="lead">Health Statistics</p>
        <p class="lead">
          <button id="btnStart" class="btn btn-lg btn-secondary">Empezar</button>
        </p>
      </main>
      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>UNMSM FISI 2018</p>
        </div>
      </footer>
    </div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script th:src="@{js/index.js}"></script>
</body>
</html>
